.add-artwork-container {
  height: 249px;
  width: 200px;
  border: 1px solid #d5d5d5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
  margin-right: 5px;
}
.add-artwork-img {
  margin: 0 auto;
  max-height: 140px;
  max-width: 187px;
  align-items: center;
  margin-top: 5px;
}
.add-artwork-topic {
  margin: 0px 0;
  padding: 6px 10px;
  color: #000000;
  font-family: Raleway;
  font-size: 14px;
  letter-spacing: 1.3px;
  border-top: 1px solid #d5d5d5;
}
.add-artwork-container-revers {
  margin-top: 10px;
  height: 457px;
  width: 360px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.add-artwork-img-reverse {
  padding-top: 10px;
  margin: 0 auto;
  height: 265px;
  width: 340px;
  align-items: center;
}
.add-artwork-topic-reverse {
  padding: 17px 0px 37px 20px;
  color: #000000;
  font-family: Raleway;
  font-size: 14px;
  letter-spacing: 1.3px;
  border-top: 1px solid #d5d5d5;
}
